From government data I get data in ascii-grid format which I need to transform into latitude/longitude data.
Using the data I can determine the lowest pollution rate.
This information is available on https://geodata.rivm.nl/gcn/. I will use data of 2018.

# Using cell size of 3 km x 3 km
The PM25 data has a shape of 320*280 = 89600 cells.
Each cell represents 1 km x 1 km

89600 is too much to handle using Nominatim to get address details.
Nominatim limits the number of calls to max 1 call per second.
I set the sleep timer to 2 seconds to be sure I am within limits.

I will change the cell size to 3 km x 3 km which still gives good results for PM25 data.
Thereby reducing the number of cells to 4886.

In [1]:
# Generic imports

In [2]:
import pandas as pd
import time as time
import numpy as np

# Retrieve Pollution Rate Data from Government site
The dataset is downloaded from https://geodata.rivm.nl/gcn/ in a ASCII-GRID format. 
See also https://en.wikipedia.org/wiki/Esri_grid

Location in grid is according to the 'Amersfoortse coordinaten' which is described in dutch on
https://nl.wikipedia.org/wiki/Rijksdriehoeksco%C3%B6rdinaten
Amersfoort has a location of X=155000 and Y=463000

First 6 lines show
* NCOLS          280  (nr of cells in X direction)
* NROWS          320  (nr of cells in Y direction)
* XLLCORNER        0  (X coordinate)
* YLLCORNER       300000  Y Coordinate
* CELLSIZE         1000  (1000 meters so 1 km)
* NODATA_VALUE  -0.9990E+03 (this is the value if there is no data)


To convert the data into longitude and latitude I use code from https://thomasv.nl/2014/03/rd-naar-gps/
This converts the so called Rijksdriehoek coordinates into latitude and longitude. 
Code is a separate class called RDWGSConverter

In [3]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="test1")
from RDWGSConverter import RDWGSConverter  # import module to convert Rijksdriehoek coordinates into latitude and longitude

# Load Pollution Data into a Dataframe

In [4]:
listOfColumnWidth = [13] * 280  # 280 columns of width 13
df_pm25 = pd.read_fwf('conc_pm25_2018/conc_pm25_2018.asc', widths=listOfColumnWidth,skiprows=6,header=None)

#### Replace missing values in the data(which is represented as -999.0) by nan

In [5]:
df_pm25.replace(-999.0, np.nan,inplace=True)
df_pm25.describe()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
count,0.0,0.0,0.0,0.0,0.0,0.0,2.000000,4.000000,6.000000,9.000000,...,54.000000,53.000000,51.000000,49.000000,47.000000,46.000000,32.000000,13.000000,1.000,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,9.634000,9.626750,9.614167,9.595444,...,8.407759,8.416208,8.476588,8.506490,8.513638,8.490870,8.541688,8.576846,8.418,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,0.007071,0.009777,0.012734,0.014028,...,0.331099,0.336813,0.341648,0.379752,0.380547,0.371899,0.336820,0.241870,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,9.629000,9.616000,9.596000,9.573000,...,7.751000,7.762000,7.785000,7.801000,7.820000,7.843000,7.879000,8.252000,8.418,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,9.631500,9.619750,9.605500,9.584000,...,8.322000,8.222000,8.280500,8.280000,8.281000,8.269750,8.352000,8.316000,8.418,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,9.634000,9.627500,9.616500,9.598000,...,8.459000,8.498000,8.617000,8.602000,8.568000,8.496500,8.629000,8.723000,8.418,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,9.636500,9.634500,9.624500,9.608000,...,8.650250,8.651000,8.723000,8.801000,8.820500,8.834750,8.824000,8.783000,8.418,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,9.639000,9.636000,9.627000,9.611000,...,8.917000,8.866000,8.855000,9.016000,8.995000,8.982000,8.928000,8.836000,8.418,NaN

# Convert grid data into a single column and determine x and y values

The matrix of 320*280 needs to be converted to a list with 3 columns
latitude, longitude and the value of the relevant cell in the matrix
So I need to read in a loop 320*280 and based on that I can determine the X and Y value in Rijkscoordinaten
and then convert it into latitude,longitude.
Only keep cells which do not contain NAN.

Also reduce the number of cells used by using a cell size of 3 km x 3 km.
This will be achieved by stepping through the grid with a step of 3.

In [6]:

conv = RDWGSConverter()

area_size=3 # set to 3 km. A cell in the loaded grid is (1 KM)

# netherlands is 320km high by 280 wide
# nr of rows is 320. so it loops over rows which is y range !!!
# A row number starts with 0 and the increments
# The Y coordinate starts at 620 and decrements.
# So row 0 is y-coordinate 620
# y_top is used to determine correct position in the grid
# Amsterdam is on rijkscoordinaat 487432 in Y direction
# This needs to convert to 487432/1000 = apx 487
# then position in the grid is on 620-487=133
# Coordinates are represented in meters. So I have to multiply a grid position by 1000 meters since a cell is 1 km.

# den helder is x,y 110464, 544944. So apx 110,544 to determine grid cell in the data
# amsterdam is in the area of  119648, 487432 so apx 119,487 to determine grid cell in the data
# I use a bigger area a but above Den Helder and below Amsterdam which roughly is North-Holland
y_top = 620  # this is used to calculate correct position in the grid
df_limit = df_pm25

#x_range=range(0,df_limit.shape[1],area_size)   
#y_range=range(0,df_limit.shape[0],area_size) # loop from highest point to lowest point
x_range=range(100,130,area_size)   
y_range=range(y_top - 555,y_top-480,area_size) # loop from highest point to lowest point

df1 = pd.DataFrame()
k = 0
for rd_y in y_range:
    for rd_x in x_range:
        if pd.notnull(df_limit.iat[rd_y,rd_x]): 
            #print(i,j,df_limit.iat[i,j])
            df1.loc[k,'pm25'] = df_limit.iat[rd_y,rd_x]
            
            wgsCoords = conv.fromRdToWgs( [rd_x*1000,(y_top-rd_y)*1000] )
            #print(i,j,k,wgsCoords)
            df1.loc[k,'lat'] =  wgsCoords[0]
            df1.loc[k,'long'] = wgsCoords[1]
            df1.loc[k,'rd_x'] = rd_x*1000
            df1.loc[k,'rd_y'] = (y_top-rd_y)*1000
            k = k + 1
df1.shape

(241, 5)

In [7]:
df1.head()

    pm25        lat      long      rd_x      rd_y
0  8.809  52.979188  4.568342  100000.0  555000.0
1  8.909  52.979485  4.613003  103000.0  555000.0
2  9.107  52.979766  4.657665  106000.0  555000.0
3  8.971  52.980030  4.702328  109000.0  555000.0
4  8.907  52.980278  4.746992  112000.0  555000.0

In [8]:
# A city is not always returned. sometimes it is village, town etc.
# I will only use data from real cities
# A valid location can be a city, town or village
# display_name is always there (combiningy country,city,village etc)
# So for this assignment diplay_name is ok.

for i in range(df1.shape[0]):
    #print(i)
    #wgsCoords = conv.fromRdToWgs( [110000,i] )
    wgsCoords = [df1.iat[i,1],df1.iat[i,2]]
    #print(wgsCoords)
    location = geolocator.reverse(wgsCoords,timeout=60) 
    # I use for location the display_name
    # places can be suburb,town,city,village and hamlets. Not all these identiers are always in JSON
    # display_name is always there
    try:
        #df1.loc[i,'suburb'] = location.raw['address']['suburb']
        df1.loc[i,'location'] = location.raw['display_name']
        print(i,'location:',location.raw['display_name'])
        #print(i,'city:',location.raw['address']['city'],',',location.raw['address']['suburb'])
        #df1.loc[i,'city'] = location.raw['address']['city']
    except:
        print(location.raw)     
        pass
    time.sleep(2) # set sleep to 2 seconds to prevent error: 429 too may requests

0 location: Nederland
1 location: Nederland
2 location: Den Hoorn, Texel, Noord-Holland, Nederland
3 location: Den Hoorn, Texel, Noord-Holland, Nederland
4 location: Den Hoorn, Texel, Noord-Holland, Nederland
5 location: Den Hoorn, Texel, Noord-Holland, Nederland
6 location: Den Helder, Noord-Holland, Nederland
7 location: Den Helder, Noord-Holland, Nederland
8 location: Den Oever, Hollands Kroon, Noord-Holland, Nederland
9 location: Den Oever, Hollands Kroon, Noord-Holland, Nederland
10 location: Nederland
11 location: Nederland
12 location: Den Hoorn, Texel, Noord-Holland, Nederland
13 location: Den Helder, Noord-Holland, Nederland
14 location: Marsdiepstraat, Den Helder, Noord-Holland, Nederland, 1782DM, Nederland
15 location: Den Helder, Noord-Holland, Nederland, 1781AD, Nederland
16 location: Den Helder, Noord-Holland, Nederland
17 location: Den Helder, Noord-Holland, Nederland
18 location: Den Oever, Hollands Kroon, Noord-Holland, Nederland
19 location: Den Oever, Hollands Kroon, Noord-Holland, Nederland
20 location: Nederland
21 location: Den Helder, Noord-Holland, Nederland
22 location: Den Helder, Noord-Holland, Nederland
23 location: Doggersvaart, Den Helder, Noord-Holland, Nederland, 1784PE, Nederland
24 location: 24A, Oostoeverweg, Westoever, Den Helder, Noord-Holland, Nederland, 1786PS, Nederland
25 location: Den Helder, Noord-Holland, Nederland
26 location: Den Helder, Noord-Holland, Nederland
27 location: Den Oever, Hollands Kroon, Noord-Holland, Nederland
28 location: 2, Broekerlaan, Hippolytushoef, Hollands Kroon, Noord-Holland, Nederland, 1777NH, Nederland
29 location: Nederland
30 location: Nederland
31 location: Den Helder, Noord-Holland, Nederland
32 location: Den Helder, Noord-Holland, Nederland
33 location: 85B, Van Foreestweg, Julianadorp, Den Helder, Noord-Holland, Nederland, 1787BG, Nederland
34 location: 85, Schorweg, Breezand, Hollands Kroon, Noord-Holland, Nederland, 1764MD, Nederland
35 location: Balgzanddijk, Den Helder, Noord-Holland, Nederland, 1761JW, Nederland
36 location: Den Oever, Hollands Kroon, Noord-Holland, Nederland
37 location: Normerdijk, Westerland, Hollands Kroon, Noord-Holland, Nederland, 1778JT, Nederland
38 location: Hippolytushoeverkruisweg, Hippolytushoef, Hollands Kroon, Noord-Holland, Nederland, 1777JG, Nederland
39 location: Nederland
40 location: Nederland
41 location: Nederland
42 location: Callantsoog, Schagen, Noord-Holland, Nederland
43 location: 10, Langevliet, Callantsoog, Schagen, Noord-Holland, Nederland, 1759LE, Nederland
44 location: 431a, Molenvaart, Breezand, Hollands Kroon, Noord-Holland, Nederland, 1764AS, Nederland
45 location: Caloriepad, Anna Paulowna, Hollands Kroon, Noord-Holland, Nederland, 1764KE, Nederland
46 location: 19a, Zwinweg, Anna Paulowna, Hollands Kroon, Noord-Holland, Nederland, 1761JK, Nederland
47 location: Slootdorp, Hollands Kroon, Noord-Holland, Nederland
48 location: 27, Schelpenbolweg, Slootdorp, Hollands Kroon, Noord-Holland, Nederland, 1774NG, Nederland
49 location: Nederland
50 location: Nederland
51 location: Callantsoog, Noord-Holland, Nederland, 1759, Nederland
52 location: Kruisweg, Callantsoog, Schagen, Noord-Holland, Nederland, 1759JZ, Nederland
53 location: Alliance Bloembollen, Groteweg, 't Zand, Schagen, Noord-Holland, Nederland, 1756CM, Nederland
54 location: Anna Paulownaweg, Anna Paulowna, Schagen, Noord-Holland, Nederland, 1761LK, Nederland
55 location: Kneesweg, Anna Paulowna, Hollands Kroon, Noord-Holland, Nederland, 1761JC, Nederland
56 location: 10, Lotweg, Anna Paulowna, Hollands Kroon, Noord-Holland, Nederland, 1761JE, Nederland
57 location: Kooltuinenweg, Slootdorp, Hollands Kroon, Noord-Holland, Nederland, 1774NT, Nederland
58 location: 21, Koningin Beatrixlaan, Slootdorp, Hollands Kroon, Noord-Holland, Nederland, 1774BK, Nederland
59 location: Nederland
60 location: Nederland
61 location: Sint Maartenszee, Noord-Holland, Nederland, 1753, Nederland
62 location: May the wind be always on your back., Westerduinweg, Sint Maartensvlotbrug, Schagen, Noord-Holland, Nederland, 1751DJ, Nederland
63 location: 8a, Korte Belkmerweg, 't Zand, Schagen, Noord-Holland, Nederland, 1756CB, Nederland
64 location: 465, Grote Sloot, Oudesluis, Schagen, Noord-Holland, Nederland, 1757LP, Nederland
65 location: Walingsweg, Wieringerwaard, Hollands Kroon, Noord-Holland, Nederland, 1766GH, Nederland
66 location: Wieringerwaard, Hollands Kroon, Noord-Holland, Nederland, 1766GA, Nederland
67 location: Zweefvliegclub Den Helder, 25, Ulkeweg, Slootdorp, Hollands Kroon, Noord-Holland, Nederland, 1774NV, Nederland
68 location: 8, Molenweg, Slootdorp, Hollands Kroon, Noord-Holland, Nederland, 1775NX, Nederland
69 location: Nederland
70 location: Nederland
71 location: Petten, Schagen, Noord-Holland, Nederland
72 location: Belkmerweg, Sint Maartensvlotbrug, Schagen, Noord-Holland, Nederland, 1753GG, Nederland
73 location: Nieuwedijk, Schagen, Noord-Holland, Nederland, 1742ND, Nederland
74 location: 65, A. Mauvestraat, Schagen, Noord-Holland, Nederland, 1741JE, Nederland
75 location: Gouwweg, Barsingerhorn, Hollands Kroon, Noord-Holland, Nederland, 1768BW, Nederland
76 location: IJsbaan, Meekrapstraat, Kolhorn, Hollands Kroon, Noord-Holland, Nederland, 1767CM, Nederland
77 location: Kolhornerweg, Middenmeer, Hollands Kroon, Noord-Holland, Nederland, 1732NR, Nederland
78 location: 12, Alkmaarseweg, Middenmeer, Hollands Kroon, Noord-Holland, Nederland, 1775PP, Nederland
79 location: Nederland
80 location: 5, Sportweg, Petten, Schagen, Noord-Holland, Nederland, 1755LX, Nederland
81 location: 137, Grote Sloot, Burgerbrug, Schagen, Noord-Holland, Nederland, 1754JD, Nederland
82 location: Groenedijk, Sint Maarten, Schagen, Noord-Holland, Nederland, 1744KM, Nederland
83 location: Provincialeweg, Dirkshorn, Schagen, Noord-Holland, Nederland, 1746EH, Nederland
84 location: Hogebierenweg, Haringhuizen, Hollands Kroon, Noord-Holland, Nederland, 1769HD, Nederland
85 location: 26a, Mientweg, Lutjewinkel, Hollands Kroon, Noord-Holland, Nederland, 1732LE, Nederland
86 location: 35, Groetpolderweg, Winkel, Hollands Kroon, Noord-Holland, Nederland, 1731NM, Nederland
87 location: Oudelanderweg, Middenmeer, Hollands Kroon, Noord-Holland, Nederland, 1775RE, Nederland
88 location: Camperduin, Noord-Holland, Nederland, 1871GM, Nederland
89 location: Coggelaan, Schoorl, Bergen (NH), Noord-Holland, Nederland, 1871PM, Nederland
90 location: Westfriese Zeedijk, Sint Maarten, Schagen, Noord-Holland, Nederland, 1754KA, Nederland
91 location: 25, Manusveert, Tuitjenhorn, Schagen, Noord-Holland, Nederland, 1747JB, Nederland
92 location: Zutweg, Dirkshorn, Schagen, Noord-Holland, Nederland, 1746CC, Nederland
93 location: 5, Havenstraat, Zijdewind, Hollands Kroon, Noord-Holland, Nederland, 1736KC, Nederland
94 location: Kanaalweg, Nieuwe Niedorp, Hollands Kroon, Noord-Holland, Nederland, 1733GJ, Nederland
95 location: 10, Langereis, Winkel, Hollands Kroon, Noord-Holland, Nederland, 1731MD, Nederland
96 location: Blôte Bienepad, Aartswoud, Opmeer, Noord-Holland, Nederland, 1719LH, Nederland
97 location: Camperduin, Noord-Holland, Nederland, 1871GM, Nederland
98 location: Baaknolweg, Schoorl, Bergen (NH), Noord-Holland, Nederland, 1871GZ, Nederland
99 location: Oudendijk, Schoorl, Bergen (NH), Noord-Holland, Nederland, 1871TC, Nederland
100 location: Rekerkoogweg, Warmenhuizen, Schagen, Noord-Holland, Nederland, 1749CJ, Nederland
101 location: Hopmansweg, Oudkarspel, Langedijk, Noord-Holland, Nederland, 1724PL, Nederland
102 location: 2, Schoutenbosweg, Buitengebied Noord, Heerhugowaard, Noord-Holland, Nederland, 1704PM, Nederland
103 location: 19, Zuiderweg, Oude Niedorp, Hollands Kroon, Noord-Holland, Nederland, 1734NB, Nederland
104 location: 20f, Westerboekelweg, Bedrijventerrein Hoogwoud, Hoogwoud, Opmeer, Noord-Holland, Nederland, 1718MK, Nederland
105 location: Opmeerderweg, Opmeer, Noord-Holland, Nederland, 1716KE, Nederland
106 location: Schoorl, Bergen (NH), Noord-Holland, Nederland
107 location: 't Groote Ganzenveld, Wilhelminalaan, Schoorl, Bergen (NH), Noord-Holland, Nederland, 1871PB, Nederland
108 location: Zuidlaan, Bergen (NH), Noord-Holland, Nederland, 1862AP, Nederland

109 location: Groetpad, Koedijk, Langedijk, Noord-Holland, Nederland, 1831EP, Nederland
110 location: Amelsgroet, Zuid-Scharwoude, Langedijk, Noord-Holland, Nederland, 1722KW, Nederland
111 location: Kamerlingh Onnesweg, Bedrijventerrein, Heerhugowaard, Noord-Holland, Nederland, 1704RK, Nederland
112 location: 12, Berkmeerdijk, Buitengebied Noord, Obdam, Heerhugowaard, Noord-Holland, Nederland, 1713KW, Nederland
113 location: 10, Kaag, Spanbroek, Opmeer, Noord-Holland, Nederland, 1715KR, Nederland
114 location: 't War, Spanbroek, Opmeer, Noord-Holland, Nederland, 1715GX, Nederland
115 location: Bergen aan Zee, Bergen (NH), Noord-Holland, Nederland
116 location: Voert, Bergen-Binnen, Bergen (NH), Noord-Holland, Nederland, 1861PE, Nederland
117 location: 18, Nesdijk, Bergen-Binnen, Bergen (NH), Noord-Holland, Nederland, 1861MK, Nederland
118 location: 13, Zeepziederstraat, Alkmaar, Noord-Holland, Nederland, 1825GK, Nederland
119 location: Outside Living Industries, 87, Berenkoog, Beverkoog, Alkmaar, Noord-Holland, Nederland, 1822BN, Nederland
120 location: Oostertocht, Heerhugowaard, Noord-Holland, Nederland
121 location: 8, Van Duivenvoordestraat, Hensbroek, Koggenland, Noord-Holland, Nederland, 1711KE, Nederland
122 location: Golfbaan Spierdijk, 86a, Wogmeer, Spierdijk, Koggenland, Noord-Holland, Nederland, 1643NH, Nederland
123 location: 19, Zuidermeerweg, Zuidermeer, Koggenland, Noord-Holland, Nederland, 1652CS, Nederland
124 location: 1, Panoramapad, Egmond aan Zee, Bergen (NH), Noord-Holland, Nederland, 1931AZ, Nederland
125 location: 8-094, Driehuizerweg, Egmond aan den Hoef, Bergen (NH), Noord-Holland, Nederland, 1934PR, Nederland
126 location: 10, Egmondermeer, Egmond aan den Hoef, Bergen (NH), Noord-Holland, Nederland, 1934PN, Nederland
127 location: Sint-Laurentiuskerk, 68, Verdronkenoord-, Alkmaar, Noord-Holland, Nederland, 1811BG, Nederland
128 location: 4C, Slingerdijk, Oterleek, Alkmaar, Noord-Holland, Nederland, 1842ED, Nederland
129 location: 5C, Noordschermerdijk, Oterleek, Alkmaar, Noord-Holland, Nederland, 1842EL, Nederland
130 location: Schermerdijk, Ursem, Alkmaar, Noord-Holland, Nederland, 1645RE, Nederland
131 location: 53, De Leet, De Goorn, Koggenland, Noord-Holland, Nederland, 1648VN, Nederland
132 location: Berkhout, Koggenland, Noord-Holland, Nederland
133 location: Vlewosche Weg, Egmond-Binnen, Bergen (NH), Noord-Holland, Nederland, 1931WE, Nederland
134 location: Hogedijk, Egmond aan den Hoef, Bergen (NH), Noord-Holland, Nederland, 1935BR, Nederland
135 location: Kinderboerderij Beestenboetje, 1A, Ter Coulster, Heiloo, Noord-Holland, Nederland, 1851KA, Nederland
136 location: 26A, Diamantweg, Alkmaar, Noord-Holland, Nederland, 1812RC, Nederland
137 location: 16A, Laanweg, Driehuizen, Alkmaar, Noord-Holland, Nederland, 1847LM, Nederland
138 location: 38, Noordervaart, Stompetoren, Alkmaar, Noord-Holland, Nederland, 1841HA, Nederland
139 location: 10, Westmijzerdijk, Schermerhorn, Alkmaar, Noord-Holland, Nederland, 1636WE, Nederland
140 location: Mijzerweg, Noordbeemster, Beemster, Noord-Holland, Nederland, 1463PG, Nederland
141 location: Buutschooterpad, Oudendijk, Koggenland, Noord-Holland, Nederland, 1631DG, Nederland
142 location: BA-6, Van Oldenborghweg, Egmond-Binnen, Castricum, Noord-Holland, Nederland, 1935MZ, Nederland
143 location: Madeweg, Castricum, Noord-Holland, Nederland, 1901MK, Nederland
144 location: Vijverlaan, Dusseldorp, Limmen, Castricum, Noord-Holland, Nederland, 1906, Nederland
145 location: 31A, Westdijk, Zuidschermer, Alkmaar, Noord-Holland, Nederland, 1847LH, Nederland
146 location: Oostdijk, Driehuizen, Alkmaar, Noord-Holland, Nederland, 1844, Nederland
147 location: 3, Meerdijk, Grootschermer, Alkmaar, Noord-Holland, Nederland, 1843KB, Nederland
148 location: Wormerweg, Westbeemster, Beemster, Noord-Holland, Nederland, 1464NA, Nederland
149 location: 57, Middenweg, Noordbeemster, Beemster, Noord-Holland, Nederland, 1462HD, Nederland
150 location: Havermeerweg, Noordbeemster, Beemster, Noord-Holland, Nederland, 1463PZ, Nederland
151 location: Nederland
152 location: Van Oldenborghweg, Castricum, Noord-Holland, Nederland, 1901 NX, Nederland
153 location: Prinses Bernhard, Castricum, Noord-Holland, Nederland, 1901DS, Nederland
154 location: Startingerweg, Limmen, Castricum, Noord-Holland, Nederland, 1911NM, Nederland
155 location: Alkmaardermeer, Zuiddijk, Zuidschermer, Alkmaar, Noord-Holland, Nederland, 1846LB, Nederland
156 location: 2, Graftdijkerweg, Starnmeer, Alkmaar, Noord-Holland, Nederland, 1488AE, Nederland
157 location: 26, G.G. Schipperstraat, De Rijp, Alkmaar, Noord-Holland, Nederland, 1483GE, Nederland
158 location: Hoop en Vlijt, Jisperweg, Westbeemster, Beemster, Noord-Holland, Nederland, 1464NL, Nederland
159 location: 19, Odessa, Middenbeemster, Beemster, Noord-Holland, Nederland, 1462EL, Nederland
160 location: Oostdijk, Zuidoostbeemster, Beemster, Noord-Holland, Nederland, 1477EH, Nederland
161 location: Wijk aan Zee, Noord-Holland, Nederland, 1949, Nederland
162 location: Kaagweg, Heemskerk, Noord-Holland, Nederland, 1969MR, Nederland
163 location: 36, Marquettelaan, Rendorppark, Heemskerk, Noord-Holland, Nederland, 1968JT, Nederland
164 location: 62c, Westergeest, Uitgeest, Noord-Holland, Nederland, 1911AL, Nederland
165 location: Crommenije, Lagendijk, Uitgeest, Noord-Holland, Nederland, 1562GT, Nederland
166 location: 98, Dorpsstraat, Oostknollendam, Wormerland, Noord-Holland, Nederland, 1534NN, Nederland
167 location: 23, Kanaaldijk, Spijkerboor, Wormerland, Noord-Holland, Nederland, 1458PR, Nederland
168 location: 9, Zuiddijk, Zuidoostbeemster, Beemster, Noord-Holland, Nederland, 1461EB, Nederland
169 location: Noorderpad, Zuidoostbeemster, Beemster, Noord-Holland, Nederland, 1461BM, Nederland
170 location: 46, Stellingmolen, Purmerend, Noord-Holland, Nederland, 1444GW, Nederland
171 location: Wijk aan Zee, Beverwijk, Noord-Holland, Nederland
172 location: Beekweg, Tata Steel, Wijk aan Zee, Beverwijk, Noord-Holland, Nederland, 1943AD, Nederland
173 location: 57, Thorbeckelaan, Sint Aagtendorp, Beverwijk, Noord-Holland, Nederland, 1945SZ, Nederland
174 location: Heemskerkse Golfclub, Groenedijk, Assendelft, Zaanstad, Noord-Holland, Nederland, 1566NV, Nederland
175 location: 2, Jan Brassertunnel, Krommenie, Zaanstad, Noord-Holland, Nederland, 1567LZ, Nederland
176 location: 28, Bruynvisweg, Wormer, Wormerland, Noord-Holland, Nederland, 1531AZ, Nederland
177 location: De Koker, 14, Oosteinde, Wormer, Wormerland, Noord-Holland, Nederland, 1531KD, Nederland
178 location: Noorderweg, Wijdewormer, Wormerland, Noord-Holland, Nederland, 1456NL, Nederland
179 location: 39, Incastraat, Purmerend, Noord-Holland, Nederland, 1448XS, Nederland
180 location: 91, Lauwersmeer, Purmerend, Noord-Holland, Nederland, 1447LB, Nederland
181 location: Noorderbuiten Kanaal, Ertskade, Tata Steel, Velsen-Noord, Velsen, Noord-Holland, Nederland, 1975, Nederland
182 location: 1e Rijksbinnenhaven, IJmuiden, Velsen, Noord-Holland, Nederland, 1951JZ, Nederland
183 location: Velserkade, Noordwijkermeer, Velsen-Noord, Velsen, Noord-Holland, Nederland, 1951NK, Nederland
184 location: Genieweg, Assendelft, Zaanstad, Noord-Holland, Nederland, 1566NN, Nederland
185 location: Veenpolderdijk, Assendelft, Zaanstad, Noord-Holland, Nederland, 1566PK, Nederland
186 location: Tennisvereniging Westzijderveld, Wezelstraat, Koog aan de Zaan, Zaanstad, Noord-Holland, Nederland, 1541LZ, Nederland
187 location: 1, Nieuwe Meer, Zaandam, Zaanstad, Noord-Holland, Nederland, 1509JJ, Nederland
188 location: 117a, De Haal, Oostzaan, Noord-Holland, Nederland, 1511AP, Nederland
189 location: 21B, Kanaalweg, Landsmeer, Noord-Holland, Nederland, 1121DP, Nederland
190 location: Hofweg, Ilpendam, Waterland, Noord-Holland, Nederland, 1452AE, Nederland
191 location: Midden Herenduinen, Koningsweg, IJmuiden, Velsen, Noord-Holland, Nederland, 1974VW, Nederland
192 location: VF LAG, Stroperspad, Santpoort-Noord, Velsen, Noord-Holland, Nederland, 2071LE, Nederland
193 location: A22, Velsen-Zuid, Velsen, Noord-Holland, Nederland, 1991AH, Nederland
194 location: Noorder Y en Zeedijk, Assendelft, Zaanstad, Noord-Holland, Nederland, 1566AK, Nederland

195 location: 3, Nauernasche Vaartdijk, Westzaan, Zaanstad, Noord-Holland, Nederland, 1551PR, Nederland
196 location: Westerwindpad, Zaandam, Zaanstad, Noord-Holland, Nederland, 1507WT, Nederland
197 location: Twiskeweg, Zaandam, Zaanstad, Noord-Holland, Nederland, 1503AH, Nederland
198 location: De Zuiderlaaik, Oostzaan, Noord-Holland, Nederland, 1511GW, Nederland
199 location: Ilperveld, Dorre Ilp, Landsmeer, Noord-Holland, Nederland, 1127PW, Nederland
200 location: Noordmeer, Broek in Waterland, Waterland, Noord-Holland, Nederland, 1151CW, Nederland
201 location: KD-30, Stroweg, Overveen, Bloemendaal, Noord-Holland, Nederland, 2051EA, Nederland
202 location: Euphrasia, Dennenweg, Veen en Duin, Bloemendaal, Noord-Holland, Nederland, 2061HS, Nederland
203 location: Hekslootpolder - Vogelkijkhut, Spaarndamseweg, Spaarndam-West, Spaarndam gem. Haarlem, Haarlem, Noord-Holland, Nederland, 2063, Nederland
204 location: Ringweg, Spaarndam-Oost, Spaarndam, Haarlemmermeer, Noord-Holland, Nederland, 2064, Nederland
205 location: Ruijgoordweg, Westpoort, Amsterdam, Noord-Holland, Nederland, 1047BD, Nederland
206 location: Hornweg, Westpoort, Amsterdam, Noord-Holland, Nederland, 1044AK, Nederland
207 location: Benzolweg, Hemhavens, Westpoort, Amsterdam, Noord-Holland, Nederland, 1041AK, Nederland
208 location: 179, Kometensingel, Oostzanerwerf, Amsterdam, Noord-Holland, Nederland, 1033BE, Nederland
209 location: Dorspad, Landsmeer, Noord-Holland, Nederland, 1034NW, Nederland
210 location: Broekergouw, Amsterdam, Noord-Holland, Nederland, 1027AH, Nederland
211 location: Meertje van Burdet, Visscherspad, Overveen, Bloemendaal, Noord-Holland, Nederland, 2042DA, Nederland
212 location: 2D-0031, Garenkokerskade, Haarlem, Noord-Holland, Nederland, 2013AM, Nederland
213 location: Busweg, Waarder-en Veerpolder, Haarlem, Noord-Holland, Nederland, 2031DA, Nederland
214 location: Vinkebrug, Halfweg, Haarlemmermeer, Noord-Holland, Nederland, 1165ML, Nederland
215 location: 99, Wethouder Rijkeboerweg, Halfweg, Haarlemmermeer, Noord-Holland, Nederland, 1165NK, Nederland
216 location: Australiëhavenweg, Amsterdam, Noord-Holland, Nederland, 1046CH, Nederland
217 location: Ringweg-West, Sloterdijk, Amsterdam, Noord-Holland, Nederland, 1043GN, Nederland
218 location: 78, Vierwindenstraat, Centrum, Amsterdam, Noord-Holland, Nederland, 1013LA, Nederland
219 location: G.T. Ketjenweg, Nieuwendammerham, Amsterdam, Noord-Holland, Nederland, 1022 AG, Nederland
220 location: Weerslootpad, Amsterdam, Noord-Holland, Nederland, 1027EE, Nederland
221 location: 7, Naaldenveldweg, Aerdenhout, Bloemendaal, Noord-Holland, Nederland, 2111GE, Nederland
222 location: 66, Bronsteeweg, Heemstede, Noord-Holland, Nederland, 2101AE, Nederland
223 location: 3, Heinrich Böllstraat, Haarlem, Noord-Holland, Nederland, 2037MB, Nederland
224 location: Polderbaanpad, Vijfhuizen, Haarlemmermeer, Noord-Holland, Nederland, 2141BP, Nederland
225 location: Lascarpad, Amsterdam, Noord-Holland, Nederland, 1175KK, Nederland
226 location: 49, Blomwijckerpad, Osdorp, Amsterdam, Noord-Holland, Nederland, 1068DZ, Nederland
227 location: 35, Nachtwachtlaan, Bluebanddorp, Amsterdam, Noord-Holland, Nederland, 1058EB, Nederland
228 location: Navads B.V., 109, Weteringschans, Nieuwe Pijp, Amsterdam, Noord-Holland, Nederland, 1017SB, Nederland
229 location: Broodje Bonjour, Wijttenbachstraat, Amsterdam, Noord-Holland, Nederland, 1094ES, Nederland
230 location: 103, Jan Olphert Vaillantlaan, IJburg, Amsterdam, Noord-Holland, Nederland, 1086XZ, Nederland
231 location: Manpadslaan, Vogelenzang, Bloemendaal, Noord-Holland, Nederland, 2114BD, Nederland
232 location: 216, Bennebroekerdijk, Cruquius, Haarlemmermeer, Noord-Holland, Nederland, 2142LD, Nederland
233 location: Big Spotters Hill, Drie Merenweg, Cruquius, Haarlemmermeer, Noord-Holland, Nederland, 2131 LZ, Nederland
234 location: Vijfhuizerweg, Schiphol, Haarlemmermeer, Noord-Holland, Nederland, 2131LN, Nederland
235 location: Tweeduizend El, Lijnden, Haarlemmermeer, Noord-Holland, Nederland, 1171VK, Nederland
236 location: 160, Meidoornweg, Nieuwe Meer, Badhoevedorp, Haarlemmermeer, Noord-Holland, Nederland, 1171KD, Nederland
237 location: Jaagpad, Amsterdam, Noord-Holland, Nederland, 1066BS, Nederland
238 location: Novotel, 10, Europaboulevard, Nieuwe Pijp, Amsterdam, Noord-Holland, Nederland, 1083AD;1083 AD, Nederland
239 location: De Slinger, Amsterdam-Duivendrecht, Ouder-Amstel, Noord-Holland, Nederland, 1115TX, Nederland
240 location: 436, Mariënburg, Plantage De Sniep, Diemen, Noord-Holland, Nederland, 1112WM, Nederland

http://www.nationaalgeoregister.nl/geonetwork/srv/dut/catalog.search#/metadata/29c17585-e702-463f-a5dc-99d34b17d333

In [9]:
df_pm25.shape

(320, 280)

In [10]:
df_pm25.loc[117:121,163:170]

       163    164    165    166     167    168    169    170
117  9.813  9.602  9.565  9.575   9.720  9.620  9.630  9.752
118  9.749  9.642  9.568  9.945  10.050  9.700  9.749  9.634
119  9.832  9.587  9.445  9.629   9.648  9.662  9.661  9.558
120  9.708  9.444  9.459  9.651   9.594  9.694  9.715  9.686
121  9.659  9.643  9.744  9.751   9.654  9.748  9.907  9.832

In [11]:
df1.tail(30)

,pm25,lat,long,rd_x,rd_y,location
211,10.44,52.386100,4.579320,100000.0,489000.0,"Meertje van Burdet, Visscherspad, Overveen, Bl..."
212,12.71,52.386393,4.623382,103000.0,489000.0,"2D-0031, Garenkokerskade, Haarlem, Noord-Holla..."
213,11.79,52.386669,4.667446,106000.0,489000.0,"Busweg, Waarder-en Veerpolder, Haarlem, Noord-..."
214,11.31,52.386928,4.711510,109000.0,489000.0,"Vinkebrug, Halfweg, Haarlemmermeer, Noord-Holl..."
215,11.56,52.387172,4.755574,112000.0,489000.0,"99, Wethouder Rijkeboerweg, Halfweg, Haarlemme..."
216,12.08,52.387398,4.799639,115000.0,489000.0,"Australiëhavenweg, Amsterdam, Noord-Holland, N..."
217,13.56,52.387609,4.843705,118000.0,489000.0,"Ringweg-West, Sloterdijk, Amsterdam, Noord-Hol..."
218,13.18,52.387803,4.887771,121000.0,489000.0,"78, Vierwindenstraat, Centrum, Amsterdam, Noor..."
219,11.53,52.387980,4.931838,124000.0,489000.0,"G.T. Ketjenweg, Nieuwendammerham, Amsterdam, N..."
220,10.98,52.388142,4.975904,127000.0,489000.0,"Weerslootpad, Amsterdam, Noord-Holland, Nederl..."
221,10.83,52.359140,4.579811,100000.0,486000.0,"7, Naaldenveldweg, Aerdenhout, Bloemendaal, No..."
222,11.60,52.359432,4.623847,103000.0,486000.0,"66, Bronsteeweg, Heemstede, Noord-Holland, Ned..."
223,11.44,52.359708,4.667883,106000.0,486000.0,"3, Heinrich Böllstraat, Haarlem, Noord-Holland..."
224,11.38,52.359967,4.711920,109000.0,486000.0,"Polderbaanpad, Vijfhuizen, Haarlemmermeer, Noo..."
225,11.33,52.360210,4.755958,112000.0,486000.0,"Lascarpad, Amsterdam, Noord-Holland, Nederland..."
226,12.46,52.360437,4.799996,115000.0,486000.0,"49, Blomwijckerpad, Osdorp, Amsterdam, Noord-H..."
227,13.79,52.360647,4.844035,118000.0,486000.0,"35, Nachtwachtlaan, Bluebanddorp, Amsterdam, N..."
228,14.40,52.360841,4.888075,121000.0,486000.0,"Navads B.V., 109, Weteringschans, Nieuwe Pijp,..."
229,12.92,52.361018,4.932114,124000.0,486000.0,"Broodje Bonjour, Wijttenbachstraat, Amsterdam,..."
230,11.50,52.361180,4.976154,127000.0,486000.0,"103, Jan Olphert Vaillantlaan, IJburg, Amsterd..."
231,11.07,52.332179,4.580301,100000.0,483000.0,"Manpadslaan, Vogelenzang, Bloemendaal, Noord-H..."
232,11.03,52.332471,4.624310,103000.0,483000.0,"216, Bennebroekerdijk, Cruquius, Haarlemmermee..."
233,11.05,52.332747,4.668320,106000.0,483000.0,"Big Spotters Hill, Drie Merenweg, Cruquius, Ha..."
234,11.29,52.333006,4.712330,109000.0,483000.0,"Vijfhuizerweg, Schiphol, Haarlemmermeer, Noord..."
235,11.75,52.333249,4.756341,112000.0,483000.0,"Tweeduizend El, Lijnden, Haarlemmermeer, Noord..."
236,11.88,52.333475,4.800353,115000.0,483000.0,"160, Meidoornweg, Nieuwe Meer, Badhoevedorp, H..."
237,11.91,52.333685,4.844365,118000.0,483000.0,"Jaagpad, Amsterdam, Noord-Holland, Nederland, ..."
238,12.20,52.333879,4.888378,121000.0,483000.0,"Novotel, 10, Europaboulevard, Nieuwe Pijp, Ams..."
239,12.36,52.334056,4.932391,124000.0,483000.0,"De Slinger, Amsterdam-Duivendrecht, Ouder-Amst..."
240,11.47,52.334217,4.976404,127000.0,483000.0,"436, Mariënburg, Plantage De Sniep, Diemen, No..."

In [12]:
df1.describe()

             pm25         lat        long           rd_x           rd_y
count  241.000000  241.000000  241.000000     241.000000     241.000000
mean    10.112241   52.655296    4.781341  114004.149378  518825.726141
std      1.183610    0.197320    0.123855    8381.774835   21956.081209
min      8.019000   52.332179    4.568342  100000.000000  483000.000000
25%      9.067000   52.493941    4.666130  106000.000000  501000.000000
50%      9.995000   52.656776    4.793126  115000.000000  519000.000000
75%     11.030000   52.819350    4.885328  121000.000000  537000.000000
max     14.400000   52.981265    4.976404  127000.000000  555000.000000

In [13]:
df1.to_csv(r'df1-North-Holland-3-by-3-km.csv')

In [14]:
#df_pm25.to_csv(r'df_pm25.csv')